.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0;
  gap: 40px;
  height: 10%;
  min-height: fit-content;

  & .about-heading {
    text-align: center;
    & h2 {
      font-size: 2rem;
      font-family: "Poppins ExtraBold";
      color: #1f2235;
    }
    & span {
      font-size: 1rem;
      font-family: "Poppins SemiBold";
      color: #ff5823;
    }
  }
  & .about-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 70%;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px 30px;

    & .about-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      & .about-para {
        & p {
          font-size: 1rem;
          font-family: "Poppins BOLD";
          color: #1f2235;
        }
      }
      & .about-skills {
        & ul {
          & li {
            color: var(--orange) !important;
          }
          & li span {
            font-size: 1rem;
            font-family: "Poppins bold";
            color: #1f2235;
          }
        }
      }
      & .about-options {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

/* -----------for i-pad pro---------- */
@media screen and (max-width: 1110px) {
  .about-container {
    margin: 60px 0;
    & .about-parent {
      width: 90%;
      & .about-details {
        & .about-para {
          & p {
            font-family: "Poppins regular";
          }
        }
        & .about-skills {
          & ul {
            & li span {
              font-family: "Poppins regular";
            }
          }
        }
      }
      & .about-options .btn {
        width: 120px;
        padding: 11px 0;
        z-index: 700;
      }
    }
  }
}

@media screen and (max-width: 825px) {
  .about-container {
    & .about-parent {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .about-details {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .about-container {
    margin: 40px 0;
    gap: 20px;
    & .about-heading {
      & h2 {
        font-size: x-large;
      }
    }
    & .about-parent {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      gap: 30px;

      & .about-skills {
        & ul {
          & li span {
            font-family: "Poppins Regular" !important;
          }
        }
      }
      & .about-details {
        width: 100%;
        & .about-para {
          & p {
            font-family: "Poppins Regular";
          }
        }
        & .about-options {
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
